set folder = "~/mail"
set from = "Doron Behar <me@doronbehar.com>"
set spoolfile = "/var/mail/doron"
set record = "+Sent"
set postponed = "+Drafts"
set trash = "+Trash"

# vim:ft=muttrc:foldmethod=marker
