set from = "Doron Behar <me@doronbehar.com>"
set spoolfile = +vps/INBOX
set record = ""
set my_record = "+vps/Sent"
set postponed = "+vps/Drafts"
set trash = "+vps/Trash"
set mbox = "+vps/archive"
set my_starred = "+vps/starred"
set sendmail = "msmtpq --account vps"
source ~/.mutt/keys/folders.rc

# vim:ft=muttrc
