# {{{1 Folders
set folder = "~/.local/share/mail"
source ~/.local/share/mutt/mailboxes
source ~/.local/share/mutt/mailing-lists
set copy = no

# {{{1 sourcing
source ~/.local/share/mutt/aliases
source ~/.mutt/keys.rc

# {{{1 identities
set realname = "Doron Behar"
folder-hook +gmail 'source ~/.mutt/gmail.rc'
folder-hook +vps 'source ~/.mutt/vps.rc'
message-hook '~C doron.behar@gmail.com | ~f doron.behar@gmail.com' 'source ~/.mutt/gmail.rc'
message-hook '~C me@doronbehar.com | ~f me@doronbehar.com' 'source ~/.mutt/vps.rc'
source ~/.mutt/vps.rc

# {{{1 General
set message_cachedir = ~/.cache/mutt/messages
set message_cachedir = ~/.cache/mutt/messages
set header_cache = ~/.cache/mutt/header
set tmpdir = ~/.cache/mutt/compositions
set sendmail_wait=0
set send_charset = "utf-8"
set charset = "utf-8"
auto_view text/html
alternative_order text/plain text/enriched text/html
set mailcap_path = ~/.mutt/mailcap
set pager_stop = yes
set display_filter = "/usr/bin/fribidi"
set query_command = "khard email -p %s"

# {{{1 User Interface
set sidebar_visible = yes
set sidebar_format = "%B%?F? [%F]?%* %?N?%N/?%S"
set sidebar_new_mail_only = no
set sidebar_sort_method = path
set mail_check_stats
set sort = threads
set strict_threads = yes

# {{{1 Preview Pane
# number of index lines to show
set pager_index_lines = 15
# number of context lines to show
set pager_context = 3
# don't go to next message automatically
set pager_stop = yes
# scroll in menus
set menu_scroll = yes
# show tildes like in vim
set tilde = yes
# no ugly plus signs
set markers = no

# vim:ft=muttrc:foldmethod=marker
