macro index,pager y "<save-message>$mbox<enter><enter>" "Archive message"
macro index,pager d "<save-message>$trash<enter><enter>" "Trash message"
## Mailboxes navigation
macro index gi "<shell-escape>notmuch new --no-hooks<enter><sidebar-open><change-folder>$spoolfile<enter>" "Go to inbox"
macro index gs "<shell-escape>notmuch new --no-hooks<enter><sidebar-open><change-folder>$my_starred<enter>" "Go to starred messages"
macro index gt "<shell-escape>notmuch new --no-hooks<enter><sidebar-open><change-folder>$record<enter>" "Go to sent mail"
# Different from gmail's web gui's keyboard shortcuts
macro index gp "<shell-escape>notmuch new --no-hooks<enter><sidebar-open><change-folder>$postponed<enter>" "Go to drafts"
macro index ga "<shell-escape>notmuch new --no-hooks<enter><sidebar-open><change-folder>$mbox<enter>" "Go to all mail"
# Not available in gmail's web gui's keyboard shortcuts.
macro index gd "<shell-escape>notmuch new --no-hooks<enter><sidebar-open><change-folder>$trash<enter>" "Go to Trash"

# vim:ft=muttrc
