## Vim like bindings.
bind pager j next-line
bind pager k previous-line
bind attach,index,pager \CD next-page
bind attach,index,pager \CU previous-page
bind pager g top
bind pager G bottom
bind attach,index g noop
bind attach,index gg first-entry
bind attach,index G last-entry
## Mailboxes
bind index,pager \Ci sidebar-prev
bind index,pager \Cu sidebar-next
macro index,pager \Co "<shell-escape>notmuch new --no-hooks<enter><sidebar-open>" "Open the highlighted directory on the sidebar"
## editor
bind editor <space> noop
bind editor <Tab> complete-query
### Fix backspace
bind editor <backspace> backspace
bind editor <delete> delete-char
## Move messages shortcuts
macro index,pager y "<save-message>=[Gmail]/All Mail<enter><enter>" "Archive message"
macro index,pager d "<save-message>=[Gmail]/Trash<enter><enter>" "Trash message"
bind index,pager M save-message
## Mailboxes navigation
macro index gi "<shell-escape>notmuch new --no-hooks<enter><sidebar-open><change-folder>=INBOX<enter>" "Go to inbox"
macro index gs "<shell-escape>notmuch new --no-hooks<enter><sidebar-open><change-folder>=[Gmail]/Starred<enter>" "Go to starred messages"
macro index gt "<shell-escape>notmuch new --no-hooks<enter><sidebar-open><change-folder>=[Gmail]/Sent Mail<enter>" "Go to sent mail"
# Different from gmail's web gui's keyboard shortcuts
macro index gp "<shell-escape>notmuch new --no-hooks<enter><sidebar-open><change-folder>=[Gmail]/Drafts<enter>" "Go to drafts"
macro index ga "<shell-escape>notmuch new --no-hooks<enter><sidebar-open><change-folder>=[Gmail]/All Mail<enter>" "Go to all mail"
# Not available in gmail's web gui's keyboard shortcuts.
macro index gd "<shell-escape>notmuch new --no-hooks<enter><sidebar-open><change-folder>=[Gmail]/Trash<enter>" "Go to Trash"
# macro for converting markdown to html using pandoc and webtex
macro compose \Cf "<filter-entry> pandoc -s --webtex -f markdown -t html \ny<edit-type><kill-line>text/html; charset=utf-8\n" "Convert markdown to html using pandoc and webtex"
set wait_key=no
# macro for opening normal w3m instance of a pure text/html inline attachment.
macro attach w "<pipe-message>w3m -T text/html\n" "Pipe html attachment to w3m"
macro attach W "<pipe-message>w3m -T text/html -dump | $VISUAL -\n" "Pipe html attachmant's raw text to $VISUAL"
macro attach V "<pipe-message>$VISUAL -\n" "Pipe any attachmant to $VISUAL"

# vim:ft=muttrc
