set pgp_use_gpg_agent = yes
set pgp_verify_sig = ask-no
set crypt_verify_sig = ask-no
set pgp_auto_decode = yes
set crypt_use_gpgme = yes
set crypt_use_pka = yes
# Use the curses interface of my `pinentry-program`
setenv PINENTRY_USER_DATA curses

# vim:ft=muttrc
