set from = "Doron Behar <me@doronbehar.com>"
set spoolfile = +vps/INBOX
set record = "+vps/Sent"
set postponed = "+vps/drafts"
set trash = "+vps/trash"
set mbox = "+vps/archive"
set my_starred = "+vps/starred"
set sendmail = "msmtp --account vps"
source ~/.mutt/folders.keys.rc

# vim:ft=muttrc
