set spoolfile = $my_account_prefix"INBOX"
set record = $my_account_prefix"[Gmail]/Sent Mail"
set postponed = $my_account_prefix"[Gmail]/Drafts"
set trash = $my_account_prefix"[Gmail]/Trash"
set mbox = $my_account_prefix"[Gmail]/All Mail"
set my_starred = $my_account_prefix"[Gmail]/Starred"
source ~/.mutt/keys/folders.rc

# vim:ft=muttrc
