set spoolfile = $my_account_prefix"INBOX"
set my_record = $my_account_prefix"Sent"
set postponed = $my_account_prefix"Drafts"
set trash = $my_account_prefix"Trash"
set mbox = $my_account_prefix"archive"
set my_starred = $my_account_prefix"starred"
source ~/.mutt/keys/folders.rc

# vim:ft=muttrc
