## Vim like bindings.
bind pager j next-line
bind pager k previous-line
bind attach,index,pager \CD next-page
bind attach,index,pager \CU previous-page
bind pager g top
bind pager G bottom
bind attach,index g noop
bind attach,index gg first-entry
bind attach,index G last-entry
bind pager,index N search-opposite
## Mailboxes
bind index,pager \Ci sidebar-prev
bind index,pager \Cu sidebar-next
macro index,pager \Co "<sidebar-open>" "Open the highlighted directory on the sidebar"
## editor
bind editor <space> noop
bind editor <Tab> complete-query
### Fix backspace
bind editor <backspace> backspace
bind editor <delete> delete-char
## Move messages shortcuts
bind index,pager M save-message
# macro for converting markdown to html using pandoc and webtex
macro compose \Cf "<filter-entry>pandoc --standalone --webtex --from markdown+hard_line_breaks --to html5\ny<edit-type><kill-line>text/html; charset=utf-8\n" "Convert markdown to html using pandoc and webtex"
set wait_key=no
# macro for opening normal w3m instance of a pure text/html inline attachment.
macro attach w "<pipe-message>w3m -T text/html\n" "Pipe html attachment to w3m"
macro attach W "<pipe-message>w3m -T text/html -dump | $VISUAL -\n" "Pipe html attachmant's raw text to $VISUAL"
macro attach V "<pipe-message>$VISUAL -\n" "Pipe any attachmant to $VISUAL"
macro attach O "\
<enter-command>unset wait_key<enter>\
<shell-escape>rm -f ${XDG_RUNTIME_DIR}/mutt-attachment<enter>\
<save-entry><kill-line>${XDG_RUNTIME_DIR}/mutt-attachment<enter>\
<shell-escape> ${XDG_RUNTIME_DIR}/mutt-attachment<bol>\
" "Open with.."

# vim:ft=muttrc
